<!DOCTYPE html>
<html lang="en">
  <body>

  <u  style="font-size:24px;color:black;">
    Definitions

</u>

  <br>
  <b style="font-size:20px;color:black;">
    <br>
    THINGS
  </b>
    <p style="font-size:18px;color:black;"
    <br>
    Meal: a meal
    <br>
    Component: a part of the meal that consists of either ingredients or other components
    (e.g grilled chicken, sauteed onion and garlic)
    <br>
    Ingredient: a raw ingredient that makes up a component (e.g. garlic, raw chicken, )
  </p>
<br>
<b style="font-size:20px;color:black;">
  RELATIONSHIPS
</b>
    <p style="font-size:18px;color:black;"
    <br>
    has: a meal 'has' components
    <br>
    includes: a component 'includes' other components or ingredients
  </p>
  </u>


<u
<b style="font-size:20px;color:blue;">
<p><a href="{{ url_for('create_data') }}">Create data!</a></p>
</b>
</u>

<u
<b style="font-size:20px;color:red;">
  <p><a href="{{ url_for('query_data') }}">Query data!</a></p>
</b>
</u>

  </body>
</html>
